* {
  margin: 0;
  padding: 0;
}

html,
body {
  scroll-behavior: smooth;
}

#personalia {
  background: red;
  height: 1000px;
  width: 100%;
}

#project {
  background: blue;
  height: 1000px;
  width: 100%;
}

#contact {
  background: brown;
  height: 1000px;
  width: 100%;
}



#arrow-down {
  position: absolute;
  bottom: 15px;
}

i.fa-angle-double-down {
  font-size: 250%;
}

#arrow-down:hover i.fa-angle-double-down {
  cursor: pointer;
}


#container {
  width: 100%;
  height: 100vh;
  background: #9d3dc0;
  color: #fff;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#icon {
 margin: 20px 0 0 0; 
}

a {
  font-size: 18px;
  font-weight: bold;
  font-family: monospace;
  padding: 10px;
  text-decoration: none;
}

a:hover {
  color: black;
}

.typewriter h1 {
  font-family: monospace;
  font-weight: bold;
  color: white;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 2.5s steps(20, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

/* RESPONSIVE BREAKPOINTS */

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* STYLES GO HERE */
  .col-mobile {
    display: inline-block;
  }

  .col-md,
  .col-lg {
    display: none;
  }

  [class^="col-block"] {
    float: none;
  }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* STYLES GO HERE */
  .col-mobile {
    display: inline-block;
  }

  .col-md,
  .col-lg {
    display: none;
  }

  [class^="col-block"] {
    float: none;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* STYLES GO HERE */
  .col-md {
    display: inline-block;
  }

  .col-mobile,
  .col-lg {
    display: none;
  }

  [class^="col-block"] {
    float: none;
  }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* STYLES GO HERE */
  .col-md {
    display: inline-block;
  }

  .col-mobile,
  .col-lg {
    display: none;
  }

  [class^="col-block"] {
    float: none;
  }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* STYLES GO HERE */
  .col-md {
    display: inline-block;
  }

  .col-mobile,
  .col-lg {
    display: none;
  }

  [class^="col-block"] {
    float: none;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* STYLES GO HERE */
  .col-lg {
    display: inline-block;
  }

  .col-mobile,
  .col-md {
    display: none;
  }
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* STYLES GO HERE */
  .col-lg {
    display: inline-block;
  }

  .col-mobile,
  .col-md {
    display: none;
  }
}
