* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: monospace !important;
  scroll-behavior: smooth;
  box-sizing: border-box;
  overflow-x: hidden;
}

:root {
  --primary-background-color: #bb7cda;
  --secondary-background-color: #fff;
  --tertiary-background-color: #000;
  --quaternary-background-color: #b567da;
  --primary-color: #bb7cda;
  --secondary-color: #fff;
  --tertiary-color: #000;
  --in-color: #0072b1;
  --github-color: #6e5494;
}

::-webkit-scrollbar {
  display: none;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--secondary-color);
  }
}

#home {
  width: 100%;
  height: 100vh;
  background: var(--primary-background-color);
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#home .typewriter h1 {
  font-size: 48px;
  font-weight: bold;
  color: var(--secondary-color);
  overflow: hidden;
  border-right: 0.2em solid #fff;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.2em;
  animation: typing 2.5s steps(20, end), blink-caret 0.75s step-end infinite;
}

/* mobile. */
@media screen and (max-width: 500px) {
  #home .typewriter h1 {
    font-size: 24px;
    letter-spacing: 0.1em;
  }
}

/* tablet. */
@media screen and (min-width: 501px) and (max-width: 1023px) {
  #home .typewriter h1 {
    font-size: 32px;
    letter-spacing: 0.15em;
  }
}

/* laptop. */
@media screen and (min-width: 1024px) and (max-width: 1919px) {
  #home .typewriter h1 {
    font-size: 40px;
  }
}

#home button.scroll {
  margin-top: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 400px;
  border-radius: 20px;
  color: var(--primary-color);
  outline: none;
  background: var(--secondary-background-color);
  font-weight: bold;
  font-size: 28px;
  padding: 15px;
  text-transform: uppercase;
  border: solid 2px transparent;
  cursor: pointer;
}

#home button.scroll:not(focus) {
  transition: all 0.75s ease;
}

/* mobile */
@media screen and (max-width: 500px) {
  #home button.scroll {
    width: 250px;
    font-size: 16px;
  }
}

/* tablet. */
@media screen and (min-width: 501px) and (max-width: 1023px) {
  #home button.scroll {
    width: 300px;
    font-size: 20px;
  }
}

/* laptop. */
@media screen and (min-width: 1024px) and (max-width: 1919px) {
  #home button.scroll {
    width: 350px;
    font-size: 24px;
  }
}

#home button.scroll:hover {
  color: var(--secondary-color);
  background: var(--primary-background-color);
  border: solid 2px var(--secondary-background-color);
  box-shadow: 4px 6px 3px rgba(0, 0, 0, 0.19), 2px 3px 4px rgba(0, 0, 0, 0.22);
  transition: all ease 0.4s;
}

#diagonal-top {
  box-sizing: border-box;
  width: 100%;
  height: 0;
  border-top: 60px solid var(--primary-background-color);
  border-right: solid 100vw transparent;
}

#diagonal-bottom {
  box-sizing: border-box;
  width: 100%;
  height: 0;
  border-bottom: 60px solid var(--primary-background-color);
  border-left: solid 100vw transparent;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  #diagonal-top {
    border-top: 20px solid var(--primary-background-color);
  }

  #diagonal-bottom {
    border-bottom: 20px solid var(--primary-background-color);
  }
}

#aboutme {
  margin: 50px 0;
  background: var(--secondary-background-color);
  width: 100%;
}

#aboutme .container {
  width: 90%;
  max-width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 30px;
}

@media screen and (max-width: 500px) {
  #aboutme .container {
  grid-template-columns: 1fr;
  }
}

#aboutme .container section.content-left {
  border-radius: 20px;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 500px) {
  #aboutme .container section.content-left {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
  }
}

#aboutme .container section.content-left .avatar {
  width: 60%;
  height: auto;
  border-radius: 50%;
  margin: 25px 0;
}

@media screen and (max-width: 500px) {
  #aboutme .container section.content-left .avatar {
    width: 50%;
  }
}

#aboutme .container section.content-left .avatar:not(focus) {
  transition: all 0.75s ease;
}

#aboutme .container section.content-left .avatar:hover {
  transform: scale(1.02);
  transition: all ease 0.4s;
}

#aboutme .container section.content-left h2 {
  font-family: Arial, Helvetica, sans-serif;
}

#aboutme .container section.content-left .location {
  padding: 5px;
}

#aboutme .container section.content-left .location span {
  margin-left: 5px;
  font-size: 16px;
}

#aboutme .container section.content-left .heading {
  padding: 10px;
  background: var(--primary-background-color);
  font-size: 18px;
  font-weight: bold;
  color: var(--secondary-color);
  margin: 25px 0;
  width: 100%;
  box-sizing: border-box;
}

#aboutme .container section.content-left .heading p {
  text-align: center;
  font-size: 18px;
}

@media screen and (max-width: 500px) {
  #aboutme .container section.content-left .heading p {
    font-size: 16px;
  }
}

#aboutme .container section.content-left .info {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

#aboutme .container section.content-left .info a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 16px;
}

#aboutme .container section.content-left .info a i.fa-linkedin-in, 
#aboutme .container section.content-left .info a i.fa-github {
  font-size: 20px;
}                          

#aboutme .container section.content-left .info a.in:hover {
  color: var(--in-color);
  transform: scale(1.01);
  transition: all ease 0.4s;
}

#aboutme .container section.content-left .info a.git:hover {
  color: var(--github-color);
  transform: scale(1.01);
  transition: all ease 0.4s;
}

#aboutme .container section.content-left .info span {
  margin-left: 5px;
  font-size: 18px;
}

#aboutme .container section.content-left button.email {
  margin: 30px 0;
  border-radius: 20px;
  color: var(--secondary-color);
  outline: none;
  background: var(--primary-background-color);
  font-weight: bold;
  font-size: 20px;
  padding: 15px;
  text-transform: uppercase;
  border: solid 2px transparent;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  #aboutme .container section.content-left button.email {
    font-size: 18px;
  }
}

#aboutme .container section.content-left button.email:not(focus) {
  transition: all 0.75s ease;
}

#aboutme .container section.content-left button.email:hover {
  color: var(--primary-color);
  background: var(--secondary-background-color);
  border: solid 2px var(--primary-background-color);
  box-shadow: 4px 6px 3px rgba(0, 0, 0, 0.19), 2px 3px 4px rgba(0, 0, 0, 0.22);
  transition: all ease 0.4s;
}

#aboutme .container section.content-right {
  border-radius: 20px;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 500px) {
  #aboutme .container section.content-right {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
  }
}

#aboutme .container section.content-right .header {
  padding: 30px;
}

#aboutme .container section.content-right .header h1 {
  font-size: 32px;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 10px;
}

@media screen and (max-width: 500px) {
  #aboutme .container section.content-right .header h1 {
    font-size: 24px;
  }
}

#aboutme .container section.content-right .header hr {
  margin: 0 auto;
  width: 100px;
  border: solid 2px var(--primary-background-color);
  margin-bottom: 20px;
}

#aboutme .container section.content-right .header p {
  text-align: justify;
  line-height: 22px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--tertiary-color);
}

@media screen and (max-width: 500px) {
  #aboutme .container section.content-right .header p {
    text-align: center;
    font-size: 18px;
  }
}

#aboutme .container section.content-right .title {
  padding: 0 30px;
}

#aboutme .container section.content-right .title h2 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
  text-transform: capitalize;
}

@media screen and (max-width: 500px) {
  #aboutme .container section.content-right .title h2 {
    font-size: 22px;
  }
}

#aboutme .container section.content-right .title hr {
  width: 150px;
  margin: 0 auto;
  border: solid 2px var(--primary-background-color);
}

#aboutme .container section.content-right .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  grid-gap: 30px;
  padding: 30px;
}

@media screen and (max-width: 500px) {
  #aboutme .container section.content-right .wrapper {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}

#aboutme .container section.content-right .wrapper .card {
  background: var(--primary-background-color);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 30px;
  width: 100%;
  box-sizing: border-box;
  color: var(--secondary-color);
}

#aboutme .container section.content-right .wrapper .card:not(focus) {
  transition: all 0.75s ease;
}

#aboutme .container section.content-right .wrapper .card:hover {
  transition: all ease 0.4s;
  transform: scale(1.02);
}

#aboutme .container section.content-right .wrapper .card p {
  margin-left: 5px;
  font-size: 16px;
}

#projects {
  padding-bottom: 50px;
  background: #bb7cda;
  width: 100%;
}

#projects .container {
  max-width: 90%;
  width: 90%;
  margin: 0 auto;
}

#projects .container .header {
  padding: 30px;
}

#projects .container .header h1 {
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 10px;
  font-size: 32px;
  color: var(--secondary-color);
}

#projects .container .header hr {
  width: 100px;
  margin: 0 auto;
  border: solid 2px var(--secondary-background-color);
  margin-bottom: 20px;
}

#projects .container .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

@media screen and (max-width: 500px) {
  #projects .container .wrapper {
    grid-template-columns: 1fr;
  }
}

#projects .container .wrapper .projects {
  padding: 10px;
}

#projects .container .wrapper .projects h2 {
  color: var(--secondary-color);
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
  text-transform: capitalize;
}

#projects .container .wrapper .projects hr {
  width: 50px;
  margin: 0 auto;
  border: solid 2px var(--secondary-background-color);
  margin-bottom: 20px;
}

#projects .container .wrapper .projects .box {
  position: relative;
}

#projects .container .wrapper .projects .box img{
  border-radius: 20px;
  width: 100%;
  height: 100%;
}

#projects .container .wrapper .projects .box p {
  opacity: 0;
  color: var(--secondary-color);
  text-align: justify;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  height: 90%;
  width: 90%;
  overflow: hidden;
}

#projects .container .wrapper .projects .box:hover img {
  opacity: 0.1;
  transition: all ease 0.4s;
}

#projects .container .wrapper .projects .box:hover p {
  opacity: 1;
  transition: all ease 0.4s;
}

#projects .container .wrapper .projects .box img:not(focus),
#projects .container .wrapper .projects .box p:not(focus) {
  transition: all 0.75s ease;
}

.footer {
  padding: 25px 0;
  background: var(--quaternary-background-color);
}

.footer p {
  font-weight: bold;
  text-align: center;
  color: var(--secondary-color);
  font-size: 18px;
}

@media screen and (max-width: 500px) {
  .footer p {
    font-size: 3.5vw;
  }
}