* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url("duckbackground.jpg");
  background-size: auto 100vh;
}

#duck {
  background-image: url("duck.gif");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  width: 100px;
  position: absolute;
}

#scoreboard {
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 60px;
  color: white;
  font-size: 100px;
  height: 100px;
}
